[submodule "src/VBE"]
	path = src/VBE
	url = https://github.com/Fonserbc/VBE
[submodule "inputserver/Touchscreen-Joystick"]
	path = inputserver/Touchscreen-Joystick
	url = https://github.com/Squarific/Touchscreen-Joystick
